import React, { PureComponent, Fragment } from 'react';
import { connect } from 'dva';
import moment from 'moment';
import Link from 'umi/link';
import {
  Row,
  Col,
  Card,
  Form,
  Input,
  Select,
  Icon,
  Button,
  Dropdown,
  Menu,
  InputNumber,
  DatePicker,
  Modal,
  message,
  Badge,
  Divider,
  Steps,
  Radio,
} from 'antd';
import StandardTable from '@/components/StandardTable';
import PageHeaderWrapper from '@/components/PageHeaderWrapper';

import styles from './<%- className %>.less';

const FormItem = Form.Item;
const { Step } = Steps;
const { TextArea } = Input;
const { Option } = Select;
const RadioGroup = Radio.Group;
const getValue = obj =>
  Object.keys(obj)
    .map(key => obj[key])
    .join(',');

/* eslint react/no-multi-comp:0 */

@connect(({ <%- moduleName %>, loading }) => ({
  <%- moduleName %>,
  loading: loading.models.<%- moduleName %>
}))
@Form.create()

class <%- className %> extends PureComponent {
  /**
   * definition
   */
  state = {
    expandForm: false,
    selectedRows: [],
  };

  columns = <%- columns %>

  /**
   * life cycle
   */
  componentDidMount() {
    this.fetchList();
  }

  /**
   * networks
   */
  fetchList = options => {
    const { dispatch } = this.props;

    dispatch({
      type: '<%- moduleName %>/<%- action %>',
      payload: options,
    });
  };

  /**
   * listeners
   */

  /**
   * handlers
   */
  handleStandardTableChange = (pagination, filtersArg, sorter) => {
    const filters = Object.keys(filtersArg).reduce((obj, key) => {
      const newObj = { ...obj };
      newObj[key] = getValue(filtersArg[key]);
      return newObj;
    }, {});

    const params = {
      page: pagination.current,
      pageSize: pagination.pageSize,
      ...filters,
    };
    if (sorter.field) {
      params.sorter = `${sorter.field}_${sorter.order}`;
    }

    this.fetchList(params);
  };

  handleFormReset = () => {
    const { form, dispatch } = this.props;
    form.resetFields();
    this.setState({
      formValues: {},
    });
    this.fetchList()
  };

  toggleForm = () => {
    const { expandForm } = this.state;
    this.setState({
      expandForm: !expandForm,
    });
  };

  handleMenuClick = e => {
    const { selectedRows } = this.state;
    if (selectedRows.length === 0) return;
    switch (e.key) {
      case 'remove':
        break;
      default:
        break;
    }
  };

  handleSelectRows = rows => {
    this.setState({
      selectedRows: rows,
    });
  };

  handleSearch = e => {
    e.preventDefault();
    const { form } = this.props;
    form.validateFields((err, fieldsValue) => {
      if (err) return;
      const values = {
        ...fieldsValue,
        updatedAt: fieldsValue.updatedAt && fieldsValue.updatedAt.valueOf(),
      };
      this.setState({
        formValues: values,
      });
      this.fetchList(values)
    });
  };


  renderSimpleForm() {
    const {
      form: { getFieldDecorator },
    } = this.props;
    return (
      <Form onSubmit={this.handleSearch} layout="inline">
        <Row gutter={{ md: 8, lg: 24, xl: 48 }}>
          <%_ form.forEach((element, index) => { _%>
          <%_ if (index !== 0) { _%>
          <Col md={8} sm={24}>
            <FormItem label="<%- element.description %>">
              {getFieldDecorator('<%- element.name %>')(   
                <%_ if (element.format) { _%>
                <DatePicker style={{ width: '100%' }} <%_ if (element.format === 'date-time') { _%>showTime={{ format: 'HH:mm' }}<%_ } _%> placeholder="请输入更新日期" /> 
                <%_ } else { _%>
                <%_ if (element.enum) { _%>
                <Select placeholder="请选择" style={{ width: '100%' }}>
                  <%_ element.enum.forEach(enumItem => { _%>
                  <Option value="<%- enumItem %>"><%- enumItem %></Option>
                  <%_ }) _%>
                </Select>
                <%_ } else { _%>
                <Input placeholder="请输入" />
                <%_ } _%>
                <%_ } _%>
              )}
            </FormItem>
          </Col>
          <%_ } _%>
          <%_ }) _%>

          <Col md={8} sm={24}>
            <span className={styles.submitButtons}>
              <Button type="primary" htmlType="submit">
                查询
              </Button>
              <Button style={{ marginLeft: 8 }} onClick={this.handleFormReset}>
                重置
              </Button>
            <a style={{ marginLeft: 8 }} onClick={this.toggleForm}>
                展开 <Icon type="down" />
              </a>
            </span>
          </Col>
        </Row>
      </Form>
    );
  }
 
  renderAdvancedForm() {
    const {
      form: { getFieldDecorator },
    } = this.props;
    return (
      <Form onSubmit={this.handleSearch} layout="inline">
        <Row gutter={{ md: 8, lg: 24, xl: 48 }}>
        <%_ form.forEach((element, index) => { _%>
          <Col md={8} sm={24}>
            <FormItem label="<%- element.description %>">
              {getFieldDecorator('<%- element.name %>')(   
                <%_ if (element.format) { _%>
                <DatePicker style={{ width: '100%' }} <%_ if (element.format === 'date-time') { _%>showTime={{ format: 'HH:mm' }}<%_ } _%> placeholder="请输入更新日期" /> 
                <%_ } else { _%>
                <%_ if (element.enum) { _%>
                <Select placeholder="请选择" style={{ width: '100%' }}>
                  <%_ element.enum.forEach(enumItem => { _%>
                  <Option value="<%- enumItem %>"><%- enumItem %></Option>
                  <%_ }) _%>
                </Select>
                <%_ } else { _%>
                <Input placeholder="请输入" />
                <%_ } _%>
                <%_ } _%>
              )}
            </FormItem>
          </Col>
        <%_ if (index % 3 === 2) { _%>
        </Row>
        <Row gutter={{ md: 8, lg: 24, xl: 48 }}>
        <%_ } _%>
        <%_ }) _%>
        </Row>
        <div style={{ overflow: 'hidden' }}>
          <div style={{ float: 'right', marginBottom: 24 }}>
            <Button type="primary" htmlType="submit">
              查询
            </Button>
            <Button style={{ marginLeft: 8 }} onClick={this.handleFormReset}>
              重置
            </Button>
            <a style={{ marginLeft: 8 }} onClick={this.toggleForm}>
              收起 <Icon type="up" />
            </a>
          </div>
        </div>
      </Form>
    );
  }

  renderForm() {
    const { expandForm } = this.state;
    return expandForm ? this.renderAdvancedForm() : this.renderSimpleForm();
  }

  /**
   * renders
   */
  render() {
    const {
      <%- moduleName %>: { data },
      loading,
    } = this.props;
    /**
    * process list data from request modules response
    */
    
    const { selectedRows } = this.state;
    const menu = (
      <Menu onClick={this.handleMenuClick} selectedKeys={[]}>
        <Menu.Item key="remove">删除</Menu.Item>
        <Menu.Item key="approval">批量审批</Menu.Item>
      </Menu>
    );

    return (
      <PageHeaderWrapper title="{{title}}">
        <Card bordered={false}>
          <div className={styles.tableList}>
            <div className={styles.tableListForm}>{this.renderForm()}</div>
            <div className={styles.tableListOperator}>
              <Button icon="plus" type="primary" onClick={() => this.handleModalVisible(true)}>
                新建
              </Button>
              {selectedRows.length > 0 && (
                <span>
                  <Dropdown overlay={menu}>
                    <Button>
                      更多操作 <Icon type="down" />
                    </Button>
                  </Dropdown>
                </span>
              )}
            </div>
            <StandardTable
              selectedRows={selectedRows}
              loading={loading}
              data={data}
              columns={this.columns}
              onSelectRow={this.handleSelectRows}
              onChange={this.handleStandardTableChange}
            />
          </div>
        </Card>
        {/* <CreateForm {...parentMethods} modalVisible={modalVisible} /> */}
      </PageHeaderWrapper>
    );
  }
}

export default <%- className %>;
 